@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #17f;
    background-image: url("../images/connexion.png");
    background-size: 100%;
   
}
section {
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 6px;
}
section h1 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;

    
}
form  input {
    margin: 5px 0;
    padding: 5px 5px;
    outline: 0;
    border: 1px solid#000;
    border-radius: 6px;

}
form  input[type='submit'] {
    background-color: #17f;
    border: none;
    color: #fff;
    margin-top: 35px;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;

}
form p.mp {
    font-size: 14px;
    margin-bottom: 20px;
    color :#17f;
    cursor: pointer;

}
form p.inscr span{
    font-size: 14px;
    cursor: pointer;
    color: #17f;

}

.cond{
    font-size: 14px ;
    padding: 15px 5px 15px;
}


