body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    color: #555;
    text-align: center;
}

/* Titres */
.page-title {
    margin-top: 50px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sub-title {
    margin-top: 30px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.warning {
    margin-top: 30px;
    font-size: 1.3em;
    color: #ff0000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Liens */
a {
    color: #006699;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #333;
}

/* Mise en forme de la description */
.description {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: left;
    line-height: 1.5;
}

/* Mise en forme de la liste */
.list {
    margin-top: 20px;
    padding-left: 20px;
    text-align: left;
}
.list span {
    color : blue;
    font-size: 1.5em;
}

.list-item {
    margin-top: 10px;
    font-size: 1.2em;
    line-height: 1.5;
}

/* Mise en forme des boutons */
.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #006699;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 30px;
}

.button:hover {
    background-color: #333;
}

/* Mise en forme du lien de connexion */
.login-link {
    margin-top: 30px;
    font-size: 1.2em;
}

/* Mise en forme du titre du formulaire */
.form-title {
    margin-top: 30px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.content {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
}